:root{
    --backcolor1: rgb(0, 174, 255);
    --backcolor2: rgb(58, 58, 58);
}
body{
    background-color: rgb(58, 58, 58);
}
button{
    width: 55px;
    height: 55px;
    margin: 0px;
    background-color: rgb(56, 56, 56);
    border: none;
    border-radius: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    font-weight: bold;
    transition: 0.6s;
    
}
button:hover{
    background-color: rgb(39, 39, 39);
}
button:active{
    background-color: rgb(0, 255, 128);
    
}
table{
    margin: auto;
}
table tr td{
    margin: 0px;
    padding: 0px;
}
#box01{
    width: 250px;
    padding: 12px 2px;
    border-radius: 9px;
    background-color: rgb(42, 42, 42);
    position: relative;
    top: 100px;
    margin: auto;
    margin-bottom: 100px;
}
#box01 p{
    width: 91.5%;
    height: 70px;
    padding: 10px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 255, 128);
    margin: auto;
    border-radius: 4px 4px 0px 0px;
    font-size: 1.1em;
    box-sizing: border-box;
    margin-bottom: 5px;
    overflow: auto;
    color: rgb(0, 0, 0);
}

h2{
   
    transition: 1s;
    width: 200px;
    height: 40px;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
}

h2:hover{
    transform: rotate(360deg);
    
}

select{
    background-color: rgba(0, 255, 255, 0);
    padding: 5px;
    border: none;
    border-radius: 7px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    position: absolute;
    top: 5px;
    right: 5px;
}

select:focus{
    color: black;
    background-color: rgb(0, 174, 255);
}


